<a href="https://colab.research.google.com/github/gnbhub/20231_Python_Study/blob/master/week4/dayeon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
l1 = list(map(int, input("10가지의 두 자리 수 입력: ").split()))
l1.reverse()
print(l1)

10가지의 두 자리 수 입력: 10 15 96 36 45 28 71 20 18 61
[61, 18, 20, 71, 28, 45, 36, 96, 15, 10]

In [11]:
# 2
glist = [-2, 3, 7, 10, -13, -6, 8, -5, 17, -10, 5, -2]

max_value = 0
total = 0
num = list()

for i in range(0, len(glist)):
    total += glist[i]
    if max_value < total:
        max_value = total
        num.append(i)
print("%d번째 숫자인 %d까지 합한 결과 %d가 최대값입니다." %(num[-1]+1, glist[num.pop()], max_value))

9번째 숫자인 17까지 합한 결과 19가 최대값입니다.

In [ ]:
# 3
l3 = list(map(int, input("7개의 임의의 수 입력: ").split()))
if len(l3) != 7:
    print("다시 입력하세요")
else:
    l3.sort()
    print(l3[-2])

7개의 임의의 수 입력: 16 7 99 152 36 76 86
99

In [ ]:
# 4
l4_1 = [1, 571, 7, 11, 20005, 16]
l4_2 = [ 134, 5, 23, 1090]
l4_3 = l4_1 + l4_2
l4_3.sort(reverse=True)
print(l4_3)

[20005, 1090, 571, 134, 23, 16, 11, 7, 5, 1]

In [9]:
# 5
import numpy as np
given_list = [1, 2, 3, 2, 2, 3, 1, 4, 2, 5, 2, 3, 3]
a = np.unique(given_list)
b = list()

for i in range(0, len(a)):
    b.append(given_list.count(a[i]))

print(b.index(max(b))+1)

2