<a href="https://colab.research.google.com/github/gnbhub/20231_Python_Study/blob/master/week3/week3_janghun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1.
while True:
  n = int(input('숫자 입력 : '))
  if n in range(1, 10):
    break
  print('1에서 9까지의 수를 다시 입력하세요')

for i in range(1, 10):
  print(f'{n} x {i} = {n*i}')

숫자 입력 : 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [8]:
#2.
n = i = 0
while n <= 1000:
  i += 1
  if i % 3 != 0 and i % 5 != 0:
    n += i
print(n)

1021

In [11]:
#3.
year = int(input('연도 입력 : '))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print(f'{year}년은 윤년입니다.')
else:
  print(f'{year}년은 윤년이 아닙니다.')

연도 입력 : 400
400년은 윤년입니다.

In [13]:
#4.
for i in range(100, 1000):
  if (i//100)**3+(i//10%10)**3+(i%10)**3 == i:
    print(i)

153
370
371
407

In [33]:
#5.
p = True
n = int(input('양의 정수 입력 : '))
for i in range(2, int((n)**0.5)+1):
  if n % i == 0:
    p = False
    break
print(f'{n}은(는) {"소수" if p == True else "합성수"}입니다.')

양의 정수 입력 : 11
11은(는) 소수입니다.